/* =========================================
   SMALL MOBILE
========================================= */
@media (max-width: 575px) {
    .logo-mark {
        width: 32px;
        height: 32px;
    }
    .logo-text strong {
        font-size: 13px;
    }
    .logo-text small {
        font-size: 6px;
        letter-spacing: 2px;
    }
    .hero-content {
        margin-left: 20px;
        margin-right: 20px;
    }
    .hero-content h1 {
        font-size: 46px;
    }
    .hero-content p {
        font-size: 15px;
    }
    .eg-contact-btn {
        width: 100%;
        justify-content: center;
    }
    .eg-navbar-right {
        flex-direction: column;
        align-items: stretch;
    }
    .eg-language {
        justify-content: center;
    }
}
/* =========================================
   MOBILE
========================================= */
@media (max-width: 991px) {
    .eg-navbar {
        background-color: var(--DarkNavy);
    }
    .eg-navbar-container {
        min-height: 72px;
        padding-left: 18px;
        padding-right: 18px;
    }
    .eg-logo {
        min-width: auto;
    }
    .navbar-collapse {
        background-color: var(--DarkNavy);
        /* margin-left: -18px;
        margin-right: -18px; */
        margin-top: 10px;
        padding: 15px 20px 22px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
    }
    .eg-nav {
        align-items: stretch;
        gap: 0;
        margin-bottom: 15px !important;
    }
    .eg-nav .nav-link {
        padding: 12px 5px !important;
        font-size: 14px;
        font-size: 16px;
    }
    .eg-nav .nav-link::after {
        display: none;
    }
    .eg-nav .nav-link.active {
        color: #4f86ff !important;
    }
    .eg-navbar-right {
        margin-left: 0;
        padding-top: 10px;
        border-top: 1px solid rgba(255, 255, 255, 0.08);
        justify-content: space-between;
    }
    .eg-language {
        display: flex;
    }
    .eg-contact-btn {
        height: 44px;
        padding: 0 18px;
    }
    .eg-dropdown {
        border: 0;
        box-shadow: none;
        background: rgba(255, 255, 255, 0.03);
        margin-top: 0;
    }
    .eg-dropdown .dropdown-item {
        padding: 9px 15px;
    }
    .hero-content {
        margin-left: 7%;
        margin-right: 7%;
    }
}
/* =========================================
   TABLET
========================================= */
@media (max-width: 1199px) {
    .eg-navbar-container {
        padding-left: 25px;
        padding-right: 25px;
    }
    .eg-nav .nav-link {
        padding-left: 8px !important;
        padding-right: 8px !important;
        font-size: 12px;
        font-size: 16px;
    }
    .eg-navbar-right {
        gap: 10px;
        margin-left: 10px;
    }
/*     .eg-language {
        display: none;
    } */
    .eg-contact-btn {
        padding: 0 13px;
    }
}